%div.panel.panel-primary.order-panel
  %div.panel-heading.order-header{ data: { toggle: "collapse", target: "#coll" } }
    %h5.panel-title.order-header-text Order header
  %div.panel-collapse.collapse.order-body{ id: "coll" }
    %div.panel-body
      %table.table.table-hover
        %tr
          %th Course name
          %th Course price
          %th Course type
