= content_for :head do
  = javascript_include_tag 'courses'

%div.tabs-wrapper
  %ul.nav.nav-pills{ role: "tablist", id: "weekday-tabs" }

  %div.tab-content{ id: "weekday-panes" }

= render "modals"
- if current_user.admin?
  %button.btn.btn-default.action-button{ type: "button",
    id: "make-order-button"} Order your best lanch
- else
  %button.btn.btn-default.action-button{ type: "button",
    id: "add-course-with-type-button"} Order your best lanch

