= content_for :head do
  = javascript_include_tag 'courses'

%div.tabs-wrapper
  %ul.nav.nav-pills{ role: "tablist", id: "weekday-tabs" }

  %div.tab-content{ id: "weekday-panes" }

= render "modals"

%button.btn.btn-default.action-button{ type: "button",
  id: "make-order-button"} Order your best lanch

-#%button.btn.btn-default.add-course-with-type{ type: "button",
  -#data: { toggle: "modal", target: "#add-course-with-type-modal" },
  -#id: "add-course-with-type-button"} "Add course"

