= content_for :head do
  = javascript_include_tag 'courses'

%div.tabs-wrapper
  %ul.nav.nav-pills{ role: "tablist", id: "weekday-tabs" }

  %div.tab-content{ id: "weekday-panes" }

= render "modals"
- if current_user.admin?
  %button.btn.btn-default.action-button{ type: "button",
    id: "add-course-with-type-button", data: { toggle: "modal",
    target: "#add-course-with-type-modal" }} Add course
  %div.add-course-wrapper.action-button-2-wrapper
    %a.btn.btn-link-add-course{ type: "link", data: { toggle: "modal",
      target: "#add-course-modal" }} Add
- else
  %button.btn.btn-default.action-button{ type: "button",
    id: "make-order-button"} Order your best lanch
