$sapphire-color: #126180;
$porcelain: #f4f5f6;
$periwinkle-gray: #cadbec;

.courses-wrapper {
  .action-button-wrapper {
    margin: 10px;
  }
}

.course-type {
  position: relative;
  display: table;
  float: left;
  width: 200px;
  cursor: pointer;
  background: $sapphire-color;
  border-radius: 4px;
  margin: 10px;
  text-align: center;
  padding: 15px 0 5px 0;

  h1, h2, h3, h4, h5, h6 {
    display: table-row;
    text-align: center;
    vertical-align: top;
    color: white;
    margin: 0;
  }

  .course-type-name {
    height: 2rem;
    font-size: 2em;
  }

  .course-type-amount {
    height: 3rem;
    font-size: 0.8em;
  }

  .add-course-wrapper {
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
  }

  .add-course {
    color: #c5cfe0;
    text-decoration: none;

    &:hover {
      color: #518aa0;
    }
  }
}

#courses-modal {
  .modal-body {
    padding: 5px;

    .course-radio {
      
      padding: 4px 2px;
      margin: 0.5rem 0;
      cursor: pointer;

      &:hover {
        background: $porcelain;
        border-right: 0.5rem solid $sapphire-color;
      }

      * {
        display: inline;
        margin: 4px;
      }

      .course-image {
        width: 5rem;
        height: 5rem;
      }
    }

    .course-selected {
      background: $periwinkle-gray;

      &:hover {
        background: $periwinkle-gray;
      }
    }
  }
}

.action-button {
  display: none;
}
